<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div class="alert alert-info" th:if="${exist}">
    <p class="text text-center">
        Este email já está sendo usado!
    </p>
</div>
<form method="post" th:action="@{/cadastrar}" th:object="${usuario}">
    <div class="input-field col s11">

        <input type="text" id="nome" path="nome" class="validate" th:field="*{nome}"/>
        <label for="nome">Nome</label>

    </div>
    <br>
    <div class="input-field col s11">
        <input type="email" id="email" path="email" class="validate"
               th:field="*{email}"/>
        <label for="email">Email</label>

    </div>
    <br>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Curso
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <br>

    <div class="input-field col s11">
        <input type="password" id="senha" path="senha" class="validate"
               th:field="*{senha}"/>
        <label for="senha">Senha</label>
    </div>
    <br>
    <div class="input-field col s11">

        <input type="password" id="confirmSenha" path="confirmSenha" class="validate"
               th:field="*{confirmSenha}"/>
        <label for="confirmSenha">Confirme sua senha</label>
    </div>
    <br>
    <br>
    <button class="btn-large waves-effect">Cadastrar</button>
    <br>
</form>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>